@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: darkblue;
}
.container {
  color: white;
  background-color: black;
  max-width: 70%;
  min-width: fit-content;
  margin: 5rem auto;
  padding: 1rem;
  border: 0.5rem solid rgb(252, 243, 167);
  text-align: center;
  border-radius: 30%;
}

.container h1 {
  font-family: "Old Standard TT", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 0.2rem;
  color: goldenrod;
}
.container h2 {
  font-family: "Silkscreen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}
.container .buttons {
  margin: 0.2rem;
  padding: 0.2rem;
}
.buttons button {
  height: 1.8rem;
  width: 3.8rem;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: 0;
  border-radius: 10px;
  margin: 0.2rem;
  background: #26f713ef;
  font-size: 1rem;
}
.buttons button:nth-child(1) {
  background: darkred;
}
.buttons button:nth-child(3) {
  background: yellow;
  font-weight: 900;
}
